{
  "root": true,
  "env": {
    "jest": true,
    "node": true,
    "es2021": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "extends": [
    "airbnb-typescript/base"
  ],
  "plugins": [
    "import",
    "@typescript-eslint"
  ],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "no-return-assign": "off",
    "camelcase": "off",
    "import/extensions": "off",
    "@typescript-eslint/no-redeclare": "off",
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "warn",
    "import/prefer-default-export": "off",
    "import/no-default-export": "off",
    "max-len": ["error", { "code": 120, "ignoreUrls": true }],
    "no-console": "off",
    "prefer-const": "error",
    "no-var": "error"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx"
      ]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "./tsconfig.json"
      }
    }
  },
  "ignorePatterns": [
    "dist/",
    "node_modules/",
    "coverage/"
  ]
}